/*Estilos para autocompletar el país*/
.autocompletar{
    position:relative; 
    display: inline-block;
}
.strong{
    color:black; 
}
.pais{
    background-color: #eee;
    border: none;
    border-radius: 30px;
    font-size: 1.7em;
    padding: 10px 25px;
    outline: none;
}
.lista-autocompletar{
    color: #ccc;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    z-index: 99;
    top:100%; 
    left:20px;
    right: 0px;
    width:93%;      
}

.lista-autocompletar-items div{ 
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.lista-autocompletar-items div:hover{ 
    background-color: dodgerblue;
}

.autocompletar-active{
    background-color: dodgerblue;
    color: #a1caff;           
}
.autocompletar-active  strong{    
    color: #fff;           
}